
<h3>Προσπάθησε να συλλαβίσεις τις παρακάτω λέξεις.</h3>
<div>
    <div class='wrapper'>      
            <div [dragula]='"bag-task2"' id="inline" >
                <div>α</div>
                <div>π</div>
                <div>ο</div>  
                <div>τ</div>
                <div>ρ</div>
                <div>α</div>
                <div>β</div>
                <div>ώ</div>
            </div>  
            <div class='container' [dragula]='"bag-task2"' id='0' title="αποτραβώ"></div>  
            <div>-</div> 
            <div class='container' [dragula]='"bag-task2"' id='1' title="αποτραβώ"></div>      
            <div>-</div>
            <div class='container' [dragula]='"bag-task2"' id='2' title="αποτραβώ"></div>      
            <div>-</div>
            <div class='container' [dragula]='"bag-task2"' id='3' title="αποτραβώ"></div>             
    </div>
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task3"' id="inline">
            <div>α</div>
            <div>ν</div>
            <div>α</div>
            <div>τ</div>
            <div>ρ</div>
            <div>έ</div> 
            <div>π</div>
            <div>ω</div>
        </div>        
        <div class='container' [dragula]='"bag-task3"' id='0' title="ανατρέπω"></div>              
        <div>-</div> 
        <div class='container' [dragula]='"bag-task3"' id='1' title="ανατρέπω"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task3"' id='2' title="ανατρέπω"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task3"' id='3' title="ανατρέπω"></div>         
    </div>
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task4"' id="inline">
            <div>κ</div>
            <div>α</div>
            <div>τ</div>  
            <div>α</div>
            <div>μ</div> 
            <div>έ</div> 
            <div>τ</div> 
            <div>ρ</div>
            <div>η</div>
            <div>σ</div>
            <div>η</div>
        </div>        
        <div class='container' [dragula]='"bag-task4"' id='0' title="καταμέτρηση"></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task4"' id='1' title="καταμέτρηση"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task4"' id='2' title="καταμέτρηση"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task4"' id='3' title="καταμέτρηση"></div>  
        <div>-</div>
        <div class='container' [dragula]='"bag-task4"' id='4' title="καταμέτρηση"></div>        
    </div>
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task5"' id="inline">
            <div>ι</div>
            <div>α</div>  
            <div>τ</div> 
            <div>ρ</div>
            <div>ι</div>
            <div>κ</div> 
            <div>ή</div>
        </div>        
        <div class='container' [dragula]='"bag-task5"' id='0' title="ιατρική"></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task5"' id='1' title="ιατρική"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task5"' id='2' title="ιατρική"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task5"' id='3' title="ιατρική"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task5"' id='4' title="ιατρική"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task5"' id='5' title="ιατρική"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task5"' id='6' title="ιατρική"></div>          
    </div>
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task6"' id="inline">
            <div>δ</div>
            <div>ί</div>
            <div>μ</div> 
            <div>ε</div> 
            <div>τ</div>  
            <div>ρ</div> 
            <div>ο</div> 
            <div>ς</div>             
        </div>        
        <div class='container' [dragula]='"bag-task6"' id='0' title="δίμετρος"></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task6"' id='1' title="δίμετρος"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task6"' id='2' title="δίμετρος"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task6"' id='3' title="δίμετρος"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task6"' id='4' title="δίμετρος"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task6"' id='5' title="δίμετρος"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task6"' id='6' title="δίμετρος"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task6"' id='7' title="δίμετρος"></div> 
    </div>
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task7"' id="inline">
            <div>τ</div>
            <div>ρ</div>
            <div>υ</div>
            <div>π</div>  
            <div>ά</div>
            <div>ν</div>  
            <div>ι</div>            
        </div>        
        <div class='container' [dragula]='"bag-task7"' id='0' title="τρυπάνι"></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task7"' id='1' title="τρυπάνι"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task7"' id='2' title="τρυπάνι"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task7"' id='3' title="τρυπάνι"></div>
        <div>-</div>
        <div class='container' [dragula]='"bag-task7"' id='4' title="τρυπάνι"></div>
        <div>-</div>
        <div class='container' [dragula]='"bag-task7"' id='5' title="τρυπάνι"></div>
        <div>-</div>
        <div class='container' [dragula]='"bag-task7"' id='6' title="τρυπάνι"></div>
    </div>  
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task8"' id="inline">
            <div>τ</div>
            <div>ρ</div>
            <div>α</div>
            <div>ύ</div>
            <div>μ</div>   
            <div>α</div>           
        </div>        
        <div class='container' [dragula]='"bag-task8"' id='0' title="τραύμα"></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task8"' id='1' title="τραύμα"></div> 
        <div>-</div> 
        <div class='container' [dragula]='"bag-task8"' id='2' title="τραύμα"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task8"' id='3' title="τραύμα"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task8"' id='4' title="τραύμα"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task8"' id='5' title="τραύμα"></div>  
    </div>
    <hr>
    <div class='wrapper'>       
        <div [dragula]='"bag-task9"' id="inline">
            <div>λ</div>
            <div>α</div>
            <div>τ</div>
            <div>ρ</div> 
            <div>ε</div>
            <div>ί</div>
            <div>α</div>              
        </div>        
        <div class='container' [dragula]='"bag-task9"' id='0' title="λατρεία"></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task9"' id='1' title="λατρεία"></div>  
        <div>-</div> 
        <div class='container' [dragula]='"bag-task9"' id='2' title="λατρεία"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task9"' id='3' title="λατρεία"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task9"' id='4' title="λατρεία"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task9"' id='5' title="λατρεία"></div> 
        <div>-</div> 
        <div class='container' [dragula]='"bag-task9"' id='6' title="λατρεία"></div> 
    </div>  
    <hr>
    <div class='wrapper'>       
        <div [dragula]='"bag-task10"' id="inline">
            <div>α</div>
            <div>ν</div>  
            <div>α</div>
            <div>μ</div>
            <div>ε</div>
            <div>τ</div> 
            <div>ρ</div> 
            <div>ώ</div>              
        </div>        
        <div class='container' [dragula]='"bag-task10"'  id='0' title="αναμετρώ"></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task10"'  id='1' title="αναμετρώ"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task10"'  id='2' title="αναμετρώ"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task10"'  id='3' title="αναμετρώ"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task10"'  id='4' title="αναμετρώ"></div>
        <div>-</div>
        <div class='container' [dragula]='"bag-task10"'  id='5' title="αναμετρώ"></div>
        <div>-</div>
        <div class='container' [dragula]='"bag-task10"'  id='6' title="αναμετρώ"></div>
        <div>-</div>
        <div class='container' [dragula]='"bag-task10"'  id='7' title="αναμετρώ"></div>
    </div> 
    <hr>
    <div class='wrapper'>       
        <div [dragula]='"bag-task11"' id="inline">
            <div>γ</div>
            <div>ε</div>
            <div>ω</div>  
            <div>μ</div>
            <div>ε</div>
            <div>τ</div>
            <div>ρ</div>
            <div>ί</div>
            <div>α</div>              
        </div>        
        <div class='container' [dragula]='"bag-task11"' id='0' title="γεωμετρία"></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task11"' id='1' title="γεωμετρία"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task11"' id='2' title="γεωμετρία"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task11"' id='3' title="γεωμετρία"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task11"' id='4' title="γεωμετρία"></div>
        <div>-</div>
        <div class='container' [dragula]='"bag-task11"' id='5' title="γεωμετρία"></div>
        <div>-</div>
        <div class='container' [dragula]='"bag-task11"' id='6' title="γεωμετρία"></div>
        <div>-</div>
        <div class='container' [dragula]='"bag-task11"' id='7' title="γεωμετρία"></div>
        <div>-</div>
        <div class='container' [dragula]='"bag-task11"' id='8' title="γεωμετρία"></div> 
    </div> 
    <hr>
    <div class='wrapper'>       
        <div [dragula]='"bag-task12"' id="inline">
            <div>τ</div>
            <div>ρ</div>
            <div>ο</div>
            <div>ύ</div>
            <div>λ</div>
            <div>ο</div>
            <div>ς</div>
        </div>        
        <div class='container' [dragula]='"bag-task12"' id='0' title="τρούλος"></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task12"' id='1' title="τρούλος"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task12"' id='2' title="τρούλος"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task12"' id='3' title="τρούλος"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task12"' id='4' title="τρούλος"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task12"' id='5' title="τρούλος"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task12"' id='6' title="τρούλος"></div>
    </div> 
    <hr>
    <div class='wrapper'>       
        <div [dragula]='"bag-task13"' id="inline">
            <div>Μ</div>
            <div>ά</div>
            <div>ρ</div>
            <div>τ</div>
            <div>ι</div>
            <div>ο</div>
            <div>ς</div>
        </div>        
        <div class='container' [dragula]='"bag-task13"' id='0' title="Μάρτιος"></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task13"' id='1' title="Μάρτιος"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task13"' id='2' title="Μάρτιος"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task13"' id='3' title="Μάρτιος"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task13"' id='4' title="Μάρτιος"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task13"' id='5' title="Μάρτιος"></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task13"' id='5' title="Μάρτιος"></div>
    </div> 
    <hr>
     
    <div *ngIf="isCorrectAnswer">
        <button class="btn btn-success" [routerLink]="['/exercise-03']" >Next</button>
    </div>
    
  </div>