
<h3>Προσπάθησε να συλλαβίσεις τις παρακάτω λέξεις.</h3>
<div>
    <div class='wrapper'>      
            <div [dragula]='"bag-task2"' id="inline" >
                <div>α</div>
                <div>π</div>
                <div>ο</div>  
                <div>τ</div>
                <div>ρ</div>
                <div>α</div>
                <div>β</div>
                <div>ώ</div>
            </div>  
            <div class='container' [dragula]='"bag-task2"' id='0' title="αποτραβώ"></div>  
            <div>-</div> 
            <div class='container' [dragula]='"bag-task2"' id='1' title="αποτραβώ"></div>      
            <div>-</div>
            <div class='container' [dragula]='"bag-task2"' id='2' title="αποτραβώ"></div>      
            <div>-</div>
            <div class='container' [dragula]='"bag-task2"' id='3' title="αποτραβώ"></div> 
            <div>-</div>
            <div class='container' [dragula]='"bag-task2"' id='4' title="αποτραβώ"></div>
            <div>-</div>
            <div class='container' [dragula]='"bag-task2"' id='5' title="αποτραβώ" ></div>
            <div>-</div>
            <div class='container' [dragula]='"bag-task2"' id='6' title="αποτραβώ"></div>
            <div>-</div>
            <div class='container' [dragula]='"bag-task2"' id='7' title="αποτραβώ"></div>
    </div>
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task3"' id="inline">
            <div>α</div>
            <div>ν</div>
            <div>α</div>
            <div>τ</div>
            <div>ρ</div>
            <div>έ</div> 
            <div>π</div>
            <div>ω</div>
        </div>        
        <div class='container' [dragula]='"bag-task3"' id='0' title="ανατρέπω"></div>              
        <div>-</div> 
        <div class='container' [dragula]='"bag-task3"' id='1' title="ανατρέπω"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task3"' id='2' title="ανατρέπω"></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task3"' id='3' title="ανατρέπω"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task3"' id='4' title="ανατρέπω"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task3"' id='5' title="ανατρέπω"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task3"' id='6' title="ανατρέπω"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task3"' id='7' title="ανατρέπω"></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task3"' id='8' title="ανατρέπω"></div> 
    </div>
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task4"' id="inline">
            <div>κα</div>
            <div>τα</div>  
            <div>μέ</div> 
            <div>τρη</div> 
            <div>ση</div>
        </div>        
        <div class='container' [dragula]='"bag-task4"'></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task4"'></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task4"'></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task4"'></div>  
        <div>-</div>
        <div class='container' [dragula]='"bag-task4"'></div>  
    </div>
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task5"' id="inline">
            <div>ι</div>
            <div>α</div>  
            <div>τρι</div> 
            <div>κή</div> 
        </div>        
        <div class='container' [dragula]='"bag-task5"'></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task5"'></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task5"'></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task5"'></div>          
    </div>
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task6"' id="inline">
            <div>δί</div>
            <div>με</div>  
            <div>τρος</div>              
        </div>        
        <div class='container' [dragula]='"bag-task6"'></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task6"'></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task6"'></div> 
    </div>
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task7"' id="inline">
            <div>τρυ</div>
            <div>πά</div>  
            <div>νι</div>              
        </div>        
        <div class='container' [dragula]='"bag-task7"'></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task7"'></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task7"'></div> 
    </div>  
    <hr>
    <div class='wrapper'>      
        <div [dragula]='"bag-task8"' id="inline">
            <div>τραύ</div>
            <div>μα</div>              
        </div>        
        <div class='container' [dragula]='"bag-task8"'></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task8"'></div>   
    </div>
    <hr>
    <div class='wrapper'>       
        <div [dragula]='"bag-task9"' id="inline">
            <div>λα</div>
            <div>τρεί</div> 
            <div>α</div>              
        </div>        
        <div class='container' [dragula]='"bag-task9"'></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task9"'></div>   
    </div>  
    <hr>
    <div class='wrapper'>       
        <div [dragula]='"bag-task10"' id="inline">
            <div>α</div>
            <div>να</div>  
            <div>με</div>
            <div>τρώ</div>              
        </div>        
        <div class='container' [dragula]='"bag-task10"'></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task10"'></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task10"'></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task10"'></div> 
    </div> 
    <hr>
    <div class='wrapper'>       
        <div [dragula]='"bag-task11"' id="inline">
            <div>γε</div>
            <div>ω</div>  
            <div>με</div>
            <div>τρί</div>
            <div>α</div>              
        </div>        
        <div class='container' [dragula]='"bag-task11"'></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task11"'></div>      
        <div>-</div>
        <div class='container' [dragula]='"bag-task11"'></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task11"'></div> 
        <div>-</div>
        <div class='container' [dragula]='"bag-task11"'></div> 
    </div> 
    <hr>
    <div class='wrapper'>       
        <div [dragula]='"bag-task12"' id="inline">
            <div>τρού</div>
            <div>λος</div>
        </div>        
        <div class='container' [dragula]='"bag-task12"'></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task12"'></div>
    </div> 
    <hr>
    <div class='wrapper'>       
        <div [dragula]='"bag-task13"' id="inline">
            <div>Μά</div>
            <div>ρτι</div>
            <div>ος</div>
        </div>        
        <div class='container' [dragula]='"bag-task13"'></div>      
        <div>-</div> 
        <div class='container' [dragula]='"bag-task13"'></div>
        <div>-</div> 
        <div class='container' [dragula]='"bag-task13"'></div>
    </div> 
    <hr>
     
    <div *ngIf="isCorrectAnswer">
        <button class="btn btn-success" [routerLink]="['/exercise-03']" >Next</button>
    </div>
    
  </div>