
<h3>Σύρε τη συλλαβή που λείπει, για να ολοκληρωθεί η λέξη.</h3>
<div>
    <div class='wrapper'>      
         
            <div class='container' [dragula]='"bag-task1"' >
                <div>τρα</div>
                <div>τρε</div>
                <div>τρη</div>
                <div>τρι</div>
                <div>τρο</div>
                <div>τρυ</div>
                <div>τρω</div>
                <div>τραυ</div>
                <div>τρει</div>
                <div>τρου</div>
            </div>

            <div class='container' [dragula]='"bag-task1"'></div>      
            <div>-γα-νό</div> 
           
            <div class='container' [dragula]='"bag-task1"'></div>      
            <div>-μω</div>  
            
            <div class='container' [dragula]='"bag-task1"'></div>      
            <div>-μα-τα</div> 
            
            <div class='container' [dragula]='"bag-task1"'></div>      
            <div>-γυ-ρί-ζω</div> 

            <div class='container' [dragula]='"bag-task1"'></div>      
            <div>-μά-ρα</div> 

            <div class='container' [dragula]='"bag-task1"'></div>      
            <div>-πα</div>

            <div class='container' [dragula]='"bag-task1"'></div>      
            <div>-ω</div>

            <div class='container' [dragula]='"bag-task1"'></div>      
            <div>-μα-τι-σμός</div>

            <div class='container' [dragula]='"bag-task1"'></div>      
            <div>-ς</div>

            <div class='container' [dragula]='"bag-task1"'></div>      
            <div>-αι-να</div>

            <div class='container' [dragula]='"bag-task1"'></div>      
            <div>-φα</div>
            
    </div>
  </div>
  <hr>

